<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Edit existing product</title>
    <style>
        #btn-cell {
        text-align : center;
        margin:auto;
        display:block;
        padding-left: 200px;
        }
    </style>
</head>

<div align="center">
    <h1>Edit product!</h1>
    <form action="#" th:action="@{/save}" th:object="${product}" method="post">
        <table border="0" cellpadding="20">
            <input type="hidden" th:field="*{id}" />

            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td>Brand:</td>
                <td><input type="text" th:field="*{brand}"/></td>
            </tr>
            <tr>
                <td>Made In:</td>
                <td><input type="text" th:field="*{madein}"/></td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><input type="number" step="0.001" th:field="*{price}"/></td>
            </tr>
            <tr>
                <td id="btn-cell"><button type="submit">Save</button>
                    &nbsp;&nbsp;
                    <button type="reset">Reset</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>