<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymyeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Manager</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div align="center">
    <h1>
        Product Manager
    </h1>
    <div id="createtext">
        <h2><a href="new">Create new product!</a></h2>
    </div>
    <table border="1">
        <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Made in</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${productList}">
            <td th:text="${product.id}">Product ID</td>
            <td th:text="${product.name}">Name</td>
            <td th:text="${product.brand}">Brand</td>
            <td th:text="${product.madein}">Made in</td>
            <td th:text="${product.price}">Price</td>
            <td>
                <a th:href="@{'/edit/' + ${product.id}}">Edit</a>
                <a th:href="@{'/delete/' + ${product.id}}">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>